$win_w: 2552;
$container_w: 1900;
$color_text: #757575;
$color_link: #fc5873;
$color_divider: #617d8a;
$container_width: percentage($container_w/$win_w);
$font_size: 17px;
$color_h1: #fc5d36;
$color_h3: #617d8a;
$font_size_h1: 30px;
$font_family: serif;
$bg_color: #fff;
$title_color: #fc5873;
$bg_body: #efefef;