body {
  padding: 0;
  margin: 0;
  color: #617d8a;
  font-size: 17px;
  font-family: sans-serif;
  background-color: #fff; }

h1 {
  color: #1fbcd3;
  font-size: 30px;
  text-align: right;
  margin: 10px 0 0; }

h3 {
  text-transform: uppercase;
  color: #1fbcd3; }

h4 {
  text-align: right;
  font-size: 25px;
  margin: 0 0 20px;
  color: #1fbcd3; }

.post-list,
.toolbar,
.about {
  margin: 0 auto 7rem; }

p {
  margin: 0 0 30px; }

a {
  text-decoration: none;
  color: #1fbcd3; }

.contact-form {
  margin: 0 auto; }

footer {
  margin: 0 auto;
  padding: 0 0 10px; }

input {
  border: 1px solid #333;
  padding: 1.4rem 2rem;
  font-size: 18px;
  display: block;
  margin-bottom: 45px;
  width: 100%;
  background-color: #fff; }

textarea {
  border: 1px solid #333;
  padding: 8px 10px;
  font-size: 18px;
  display: block;
  width: 100%;
  margin-bottom: 45px;
  min-height: 235px;
  background-color: #fff; }

.tdForom {
  overflow: hidden; }

button {
  background-color: #1fbcd3;
  border: 0;
  padding: 25px 160px;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  margin-bottom: 45px;
  float: right; }
  button:hover {
    background-color: #1894a7; }

header {
  max-width: 74.4514106583%;
  display: table;
  margin: 0 auto;
  margin-bottom: 100px; }
  header nav {
    font-size: 0;
    width: 100%;
    display: table-cell;
    width: 61.0526315789%;
    vertical-align: bottom; }
    header nav a {
      font-size: 24px;
      padding-top: 2rem;
      padding-bottom: 2rem;
      display: inline-block;
      width: 33.3333333333%;
      text-align: center;
      transition: opacity 0.3s ease-in-out;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      text-transform: uppercase; }
      header nav a:hover {
        opacity: 0.8; }

.toolbar {
  text-align: right;
  margin-bottom: 20px; }
  .toolbar input {
    display: inline-block;
    width: 25%;
    border-color: #1fbcd3;
    color: #1fbcd3;
    background-color: #fff; }
    .toolbar input::placeholder {
      color: #1fbcd3; }

.logo {
  width: 38.9473684211%;
  display: table-cell; }

.img-block, .post-list img,
.toolbar img,
.about img, .logo img, .post-list article img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto; }

*, ::after, ::before {
  box-sizing: border-box; }

.container, .post-list,
.toolbar,
.about, .contact-form, footer {
  max-width: 74.4514106583%; }

.post-list {
  overflow: hidden; }
  .post-list article {
    width: 48%;
    float: left;
    background-color: #efefef;
    margin-right: 4%;
    padding: 18px;
    margin-bottom: 4%; }
    .post-list article .post-description {
      padding: 27px 0 28px;
      border-bottom: 1px solid #617d8a; }
    .post-list article:nth-child(2n + 1) {
      clear: both; }
    .post-list article:nth-child(2n) {
      margin-right: 0; }
