$win_w: 2552;
$container_w: 1900;
$color_text: #617d8a;
$color_link: #1fbcd3;
$color_divider: #617d8a;
$container_width: percentage(1900/$win_w);
$font_size: 17px;
$color_h1: $color_link;
$color_h3: $color_link;
$font_size_h1: 30px;
$font_family: sans-serif;
$bg_color: #efefef;
$title_color: #1697a6;
$bg_body: #fff;